body
{
    background-color: blue;
    color: white;
    margin: 0px;
}

header
{
    background-color: gray;
    padding: 20px;
    font-style: 22px;
    border-bottom: 2px solid green;
}

section{

    background-image: linear-gradient(#51025a, #E85CDA);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}